body {
	background-color: red;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  display: flex;
}

.wrapper {
  position: relative;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.wrapper a {
  text-decoration: none;
  border-radius: 20px;
  height: 60px;

  margin: 20px;
  padding: 10px;
  background-color: white;
  color: #d2691e;
  justify-content: center;
  align-items: center;
  display: block;
}
.wrapper a:hover {
  color: white;
  background-color: #d2691e;
  border: solid 3px white;
}

.wrapper img {
  height: 300px;
}

.first-section {
	position: relative;
}

.image-section {
	position: relative;
}
.action-btn{
	position:relative;
	margin: 0 50px 0 50px;
}
.footer {
	position: relative;
  background-color: #fa7d1e;
  color: white;
  padding-top: 10px 0 10px 0;
  height: 50px;
  display: block;
}
.footer p {
  font-size: 20px;
}

